<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HybridFrameWork">
  <test name="Hybrid Framework Maven Testing">
   	<packages>
   		<package name="com.crm.qa.testcases.*"/>
   	</packages>
   <!--  <classes>
    
      <class name="com.crm.qa.testcases.LoginPageTest">
      <methods>
        <include name="loginTest" />
      </methods>
      </class> 
    </classes>-->
  </test> 
</suite>
